<footer>
  <div class="row">
    <div class="foot-left">
      <a class="button" href="/listings">Buying</a>
      <a class="button" href="/newad">Selling</a>
    </div>
    <div class="foot-mid">
      <span class="misc-text">Copyright</a>
    </div>
    <div class="foot-right">
      <a class="button" href="/messages">Messages</a>
      <a class="button" href="#top">Back To Top</a>
    </div>
  </div>
</footer>
