<nav>
  <div class="row">
    <div class="column-left">
<<<<<<< HEAD
      <form id="form">
        <label class="button" for="login" href="/listings">Buying</label><br />
        <input class="form-area" type="text" id="fname" name="fname" /><br />
=======
      <form id="login-form">
        <a class="button" for="login" href="/listings">Buying</a><br>
        <input class="form-area" type="text" name="buying"><br>
>>>>>>> master
      </form>
      <a class="button" href="/newad">Selling</a>
    </div>
    <div class="column-mid">
      <a class="button" href="/"><h1>Light Market</h1></a>
    </div>

    <% if (!userId) {%>
      <div class="column-right">
        <a class="button" href="/messages">Messages</a>
        <form id="form" class="user-posting" action="/login" method="POST">
          <button class="button" type="submit">Login</button><br />
          <input class="form-area" type="text" id="email" name="email" /><br />
        </form>
      </div>
    <%}else{%>
      <div class="column-right">
        <a class="button" href="/messages">Messages</a>
      <a class="navbar nav-item navbar-light">Logged in as : <%=userId.email%></a>
          <%}%>

  </div>
</nav>
