<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="../styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="../styles/footer.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <header>
    <%- include("partials/_nav") %>
  </header>
    <body class="listing-id">
      <h2>Listing Title - Price</h2>
      <div class="id-body">
        <div class="image-large">
          <img src="https://cars.usnews.com/pics/size/776x517/images/Auto/izmo/i159614768/2022_honda_civic_sedan_angularfront.jpg">
        </div>
        <div class="listing-description">
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dui nisl, pharetra sed augue nec, auctor tristique felis. Pellentesque non massa consectetur, scelerisque massa quis, vehicula ex. Donec scelerisque metus eget ipsum vulputate, a fringilla sem bibendum. Integer nec diam eget tellus aliquet mollis. Sed consequat, odio sit amet iaculis bibendum, nulla odio luctus nulla, et condimentum odio nisi nec lacus. Vivamus tristique lorem in faucibus elementum. Maecenas tortor nibh, fermentum et rhoncus sed, scelerisque eu ipsum. Curabitur ex justo, iaculis eget velit ac, dictum dapibus dolor. Sed ipsum mi, volutpat eu ultricies cursus, sollicitudin dictum ante. Integer non nibh ultricies, volutpat ante id, aliquet tellus. Curabitur consectetur tempus libero, quis pretium ex tincidunt ut. Aliquam eu orci nec urna suscipit vehicula nec sit amet mauris. Mauris ut convallis velit, a pharetra turpis. Vestibulum finibus molestie posuere. Morbi euismod convallis turpis id gravida. Cras euismod maximus nulla. Nam viverra suscipit augue, ultrices rhoncus nulla efficitur eu. Aliquam sem nisi, venenatis nec felis ultricies, fermentum dapibus est. Mauris aliquet neque sit amet purus pellentesque, sed lobortis eros rhoncus. Aliquam facilisis purus sed maximus aliquam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam sagittis neque nec convallis imperdiet. Vestibulum diam odio, feugiat ac sodales nec, volutpat auctor urna. Sed laoreet lectus et maximus pulvinar. Sed dictum, neque at bibendum scelerisque, odio arcu feugiat leo, eu blandit sem leo at ipsum.

          Aliquam et nisl dui. In malesuada quam nec rhoncus volutpat. Nam cursus, tellus commodo varius euismod, urna erat vestibulum lectus, ornare semper sem urna eget purus. Nulla eleifend nisi id quam maximus convallis. Aliquam vel sem vel sapien feugiat lobortis ut vel arcu. Morbi massa lorem, lobortis ut convallis et, sodales a nibh. Praesent enim mi, aliquet in pharetra a, pellentesque quis orci.

          Suspendisse feugiat, leo id vestibulum pharetra, lorem elit dapibus nibh, sit amet efficitur risus sapien quis ante. Vivamus risus massa, ultricies non eleifend sed, sollicitudin vel arcu. Proin sit amet suscipit nibh. Sed suscipit ipsum at neque vestibulum, at laoreet elit molestie. Quisque cursus mauris id tellus facilisis placerat. Nunc dapibus nunc quis nisl lacinia, ac efficitur lectus convallis. Integer ut accumsan lorem.

          In arcu risus, gravida vitae purus id, vestibulum maximus erat. Fusce vehicula congue gravida. Praesent ultricies, lacus id placerat tincidunt, est felis iaculis lorem, ac rhoncus quam magna vitae risus. Curabitur lacinia, purus sit amet maximus tempus, neque augue volutpat turpis, eu eleifend risus sapien eget ipsum. Nulla venenatis elit eu purus suscipit euismod. Integer ac arcu est. Curabitur eget felis est. Sed rhoncus suscipit diam eu convallis. Donec sed libero dui. In ac pulvinar leo, ac finibus enim. Nullam in laoreet tellus.
          </span>
        </div>
      </div>
    </body>
  <footer>
    <%- include("partials/_footer") %>
  </footer>
</html>
