<!DOCTYPE html>
<html lang="en">
  <head>
    <title>newad</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="../styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="../styles/footer.css" type="text/css" />
    <link rel="stylesheet" href="../styles/forms.css" type="text/css" />
    <link rel="stylesheet" href="../styles/newad.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <header><%- include("partials/_nav") %></header>
  <body>
    <h2>Create New Ad</h2>
    <div id="forms">
      <form
        class="user-posting"
        id="newposting"
        action="/newad/new"
        method="POST"
        enctype="multipart/form-data"
      >
        <label for="title">Title</label>
        <input
          class="form-control"
          type="title"
          name="title"
          placeholder="Title"
          required
        />

        <label for="price">Price</label>
        <input
          class="form-control"
          type="price"
          name="price"
          placeholder="0"
          required
        />

        <label for="condtion">Condition</label>
        <select
          class="form-control"
          type="condition"
          name="condition"
          placeholder="New"
        >
          <option>New</option>
          <option>Used</option>
        </select>

        <label for="niche">Type</label>
        <select class="form-control" type="niche" name="niche">
          <option>Shoes</option>
          <option>Autmobile</option>
          <option>Accessory</option>
          <option>Furniture</option>
          <option>Mobile Phones</option>
          <option>Clothing</option>
          <option>Electronics</option>
          <option>Home and Appliances</option>
          <option>Gifts</option>
          <option>Music</option>
        </select>

        <label for="description">Description</label>
        <textarea
          class="form-control"
          cols="50"
          rows="10"
          name="description"
          required
        ></textarea>

        <p class="note">
          Note: You need to insert atleast one image of your product.
        </p>

        <div class="upload-image">
          <div class="form-control image-box">
            <input
              type="file"
              id="file-1"
              accept="image/*"
              name="photo1"
              required
            />
            <label for="file-1" id="file-1-preview">
              <img src="https://bit.ly/3ubuq5o" alt="" />
            </label>
          </div>

          <div class="form-control image-box">
            <input type="file" id="file-2" accept="image/*" name="photo2" />
            <label for="file-2" id="file-2-preview">
              <img src="https://bit.ly/3ubuq5o" alt="" />
            </label>
          </div>

          <div class="form-control image-box">
            <input type="file" id="file-3" accept="image/*" name="photo3" />
            <label for="file-3" id="file-3-preview">
              <img src="https://bit.ly/3ubuq5o" alt="" />
            </label>
          </div>

          <div class="form-control image-box">
            <input type="file" id="file-4" accept="image/*" name="photo4" />
            <label for="file-4" id="file-4-preview">
              <img src="https://bit.ly/3ubuq5o" alt="" />
            </label>
          </div>
        </div>

        <button
          type="submit"
          id="picsubmit"
          class="btn btn-primary btn-sm"
          onclick="return confirm('Is this finalized?')"
        >
          Submit
        </button>
      </form>
    </div>

    <script>
      function previewBeforeUpload(id) {
        document
          .querySelector("#" + id)
          .addEventListener("change", function (e) {
            if (e.target.files.length == 0) {
              return;
            }
            let file = e.target.files[0];
            let url = URL.createObjectURL(file);
            document.querySelector("#" + id + "-preview img").src = url;
          });
      }

      previewBeforeUpload("file-1");
      previewBeforeUpload("file-2");
      previewBeforeUpload("file-3");
      previewBeforeUpload("file-4");
    </script>
  </body>
  <footer><%- include("partials/_footer") %></footer>
</html>
