body {
  z-index: -1;
  padding-top: 100px;
}
#coverimg {
  width: 85%;
  margin: 50px auto 0 auto;
  border-radius: 25px;
}

img {
  max-width: 100%;
  min-width: 100%;
  border-radius: 25px;
}

.grid-container {
  width: 85%;
  margin: 50px auto 50px auto;
  height: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

}

.item-row {
  display: flex;
  flex-direction: row;
  min-width: 200px;
  max-width: 200px;
  max-height: 250px;
  min-height: 250px;
}

.item-row img {
  width: 100px;
}

.item-row a {
  margin: 0 10px;
  width: 100%;
}

.item-column {
  text-align: center;
  padding: 5px;
  margin: 5PX;
  height: auto;
  float: left;
  width: auto;
  border-style: solid;
  border-color: #3D405B;
  border-width: 2px;
  border-radius: 25px;
  width: 100%;
}

.item-column img {
  max-width: 200px;
  max-height: 100px;
}

.item-row .button {
  color: black;
}

.item-row:after {
  content: "";
  display: table;
  clear: both;
}

//messages


.head-title {
  width: 80%;
  height: 100px;
  background-color: #FBEEDA;
  border: #3D405B;
  border-style: solid;
  border-width: 1px;
  float: right;
}

#message-error {
  text-align: center;
  padding: 10px;
}

.head-title{
  color: #e07a5f;
}

.column {
  float: left;
}

.left {
  width: 25%;
  padding-left: 15px;
}

.left span {
  vertical-align: middle;
  line-height: 75px;
  padding-left: 10px;
  padding-right: 10px;
  border: #3D405B;
  border-style: solid;
  border-radius: 10px;
}

.right {
  width: 75%;
  padding-left: 125px;
}

.chats {
  width: 20%;
  height: calc(100vh - 150px);
  background-color: #FBEEDA;
  border: #3D405B;
  border-style: solid;
  border-width: thin;
  float: left;
  padding: 10px;
}

span.padding {
  padding-left: 20px;
  padding-right: 20px;
}

.chats h2 {
  padding: 10px 0;
  text-align: center;
  color: #e07a5f;
  border: #3D405B;
  border-style: solid;
  border-width: 0 0 4px 0;
  border-width: thin;
  margin: 0;
}

.chats h4 {
  margin: 10px;
}

.chats .chats-name {
  text-align: center;
  border: #3D405B;
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
  margin: 15px 0;
}

.chat-content {
  width: 80%;
  background-color: #FBEEDA;
  border: #3D405B;
  border-style: solid;
  border-width: thin;
  float: left;
  position: relative;
  padding: 20px;
}

.chat-content #reply-message-form {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 15px 0;
  border-top: #3D405B;
  border-style: solid;
  border-width: 1px 0 0 0;
  margin-top: 10px;
}

.chat-content #new-message-form {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 15px 0;
  border-top: #3D405B;
  border-style: solid;
  border-width: 1px 0 0 0;
  margin-top: 10px;
}

.chat-content {
  overflow: scroll;
}
.chat-content .title {
  color: #e07a5f;
  padding-left: 15px;
}

#reply-message-form .form-area {
  width: 60vw;
  padding: 6px 0px 6px 12px;
}

#new-message-form .form-area {
  width: 60vw;
  padding: 6px 0px 6px 12px;
}

.content .column {
  margin: 15px;
  float: left;
  width: 40%;

}

#main-chat {
  display: flex;
  flex-direction: column;
  height: 50vh;
  overflow-y: scroll;
}

.chat-row {
  margin-top:5px;
}

.received {
  padding: 5px 15px;
  border: #3D405B;
  border-style: solid;
  border-radius: 15px;
  border-width: thin;
  float:left;
}

.sent {
  padding: 5px 15px;
  border: #3D405B;
  border-style: solid;
  border-radius: 15px;
  border-width: thin;
  float:right;
}

/* Clear floats after the columns */
.content .row:after {
  content: "";
  display: table;
  clear: both;
}

//listings

.listings {
  color: #e07a5f;
  text-align: center;
}

.listings h2 {
  width: 100%;
}

.show-listings {
  width: 100%;
  min-width: 800px;
  height: fit-content;
}
.filters {
  width: 10%;
  min-width: 160px;
  height: 1000%;
  background-color: #FBEEDA;
  border: #3D405B;
  border-width: 4px;
  border-style: solid;
  float: left;

}

.filters h2 {
  border: #3D405B;
  border-width: 0 0 4px 0;
  border-style: solid;
  margin: 0;
  padding: 10px 0;
}

.listing-info {
  display: flex;
  flex-direction: column;
}

.filter-form {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.form-select {
  height: 25px;
  border-radius: 10px;
}

.filter-label {
  padding-top: 10px;
}

.filter-form .button {
  padding-top: 10px;
}



//listingid

.listing-id {
  margin-bottom: 100px;
}

.listing-id h2 {
  color: #e07a5f;
  text-align: center;
}

.id-body {
  width: 85%;
  height: auto;
  margin: 0 auto 10px auto;
  border-radius: 25px;
}

.image-large {
  width: 750px;
  margin: 0 auto;
}

.image-large img {
  width: 750px;
  height: 750px;
}

.listing-description {
  background-color: #FBEEDA;
  border: #3D405B;
  border-style: solid;
  border-radius: 15px;
  width: 750px;
  height: 400px;
  margin: 10px auto;
  padding: 15px;
  overflow: scroll;
}

.listing-description::-webkit-scrollbar {
  display: none;
}

.listing-description {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.filters .button {
  color: #e07a5f;
  padding-bottom: 10px;
}

.user-features {
  width: 750px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.user-features .button {
  color: #e07a5f;
  padding-right: 10px;
}


